name: Continous Integration .NET

on: 
    pull_request: 
        branches: 
            - main
    push: 
        branches: 
            - main

jobs:
    run:
        name: CI job
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup dotnet
              uses: actions/setup-dotnet@v5
              with:
                global-json-file: global.json

            - name: Install .NET Aspire workload
              run: dotnet workload install aspire
            
            - name: Restore
              run: dotnet restore

            - name: Build
              run: dotnet build --configuration Release --no-restore

            - name: Test
              run: dotnet test --configuration Release --no-restore --no-build  --collect "XPlat Code Coverage" --settings .runsettings

            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v5
              with:
                token: ${{ secrets.CODECOV_TOKEN }}
                dry_run: ${{ github.event_name != 'push' }}